body{
	font-family: "Nosifer"; sans-serif;
}
h1{
	text-align: center;
	font-size: 50px;
}

.shadow1{
	color: #0c0c0c;
	text-shadow: 3px 2px 0em #f70b0b;
}

.shadow2{
	color: #000000;
	text-shadow: 1px 1px 2px #868686, 0 0 2em #868686;
}

.shadow3{
	color: #f7f4f4;
	text-shadow: -3px -3px 0px black, 2px 2px 0em red;
}
