*,
::before,
::after {
    margin: 0;
    padding: 0;
}
body {
    background: #eee;
    font: 18px/24px 'Raleway', sans-serif;
    color: #303030;
}

.wrap {
    width: 1500px;
    margin: auto;
    }

.header {
    padding: 50px 0;
}

.nav-main {
    font-size: 0;
    padding-bottom: 105px;
}

.nav-main-links a {
    font: 18px/1 Roboto, sans-serif;
    letter-spacing: .025em;
    color: #303030;
    text-decoration: none;
    margin-right: 50px;
}

.nav-main-links,
.nav-main-logo {
    width: 50%;
    display: inline-block;
}

.nav-main-links {
    text-align: right;
}

.menu {
    display: inline-block;
    width: 17px;
    height: 14px;
    background: url(img/Menu.png);
}

.product {
    background: white;
    border-radius: 5px;
    padding: 70px 63px;
    font-size: 0;
}

.product-item {
    width: 328px;
    height: 387px;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    margin: 0 37px;
    background: #eeeeee;
    cursor: pointer;
}

.view{
    text-decoration: none;
    color: red;
}

.product-item-strong {
    width: 694px;

}

.product-item:nth-child(1) .product-image {
    margin: -75px -95px;

}
.product-item:nth-child(2) .product-image {
    margin: -82px -90px;
    overflow: hidden;
}
.product-item:nth-child(3) .product-image {
    margin: -95px 66px;
    overflow: hidden;
}
.product-item:nth-child(4) .product-image {
    margin: 5px 3px;
    overflow: hidden;

}
.product-item:nth-child(5) .product-image {
    margin: 5px -340px;
    overflow: hidden;
}
.product-item:nth-child(6) .product-image {
    margin: -18px -120px;
    overflow: hidden;
}
.product-image {
    transition: all .5s;
}
.product-overlay {
    display: none;
    width: inherit;
    height: inherit;
    background: red;
    color: white;
    font-size: 20px;

}

.product-item:hover .product-overlay {
    display: block;
}
.product-item:hover .product-image {
    display: none;
    transform: scale(1.05);
}

.subscribe {
    background: white;
    border-radius: 100px;
    width: 715px;
    margin: 50px auto;
    height: 70px;
    /* overflow: hidden; */
}
.subscribe-button {
    background: red;
    color: white;
    font: 18px/1 Roboto, sans-serif;
    text-transform: uppercase;
    border: 0;
    height: 100%;
    width: 215px;
    border-radius: 0 100px 100px 0;
}
.subscribe-form {
    height: 100%;
    font-size: 0;
}
.subscribe-input {
    width: 400px;
    border: 0;
    height: 100%;
    margin-left: 100px;
    vertical-align: top;
    font-size: 18px;
    }

.slider{
    display: block;
    width: 1500px;
    height: 676px;
}
.slider-image{
    width: 50%;
    display: inline-block;
}
.imgslide{
    padding-left: 35%;
}
.opus{
    width: 50%;
    float: left;
    display: inline-block;

    }
.h1-slide{
    font-family: Raleway;
    color:  #303030;
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    text-align: right;
}
.p1{
    font-family: Roboto;
    color:  #303030;
    font-size: 24px;/
    font-weight: 300;
    line-height: 36px;
    text-align: right;

}
.p2{
    font-family: Roboto;
    color:  #e10011;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: right;
    margin-top: 20px;
}
.buttons{
    display: block;
    text-align: right;
    width: 180px;
    height: 17px;
    padding-left: 40%;
    }
.slide-button1{
    border-radius: 50%;
    background-color: #e10011;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-left: 10px;
}
.slide-button2, .slide-button3{
    border-radius: 50%;
    background-color: #303030;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-left: 10px;
}

.p3{
    padding-top:75%;
    padding-right: 20%;
    margin-left: 30px;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    line-height: 40px;
    }
.line{
    background-color:  #ffffff;
    width: 92px;
    height: 5px;
    margin-left: 30px;
}
.featured-h2{
    font-family: Raleway;
    color:  #303030;
    font-size: 48px;
    font-weight: 900;
    line-height: 150px;
    text-align: center;
}
.featured-img{
    padding-left: 581px;
}
.featured-p{
    font-family: Raleway;
    color:  #303030;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 78px;
}
.productman-h2{
    font-family: Raleway;
    color:  #303030;
    font-size: 48px;
    font-weight: 900;
    line-height: 150px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.productman-p {
    font-family: Raleway;
    color:  #303030;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 42px;
    }
.social{
    display: block;
    padding-left: 36%;
}
.social-img{
    display: inline-block;
    margin-left: 20px;

}
.copyright{
    padding-left: 32%;
    padding-top: 63px;
    padding-bottom: 30px;
}

