*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'Aleo';
    src: url("../fonts/aleo-regular-webfont.eot");
    src: url("../fonts/aleo-regular-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/aleo-regular-webfont.woff") format("woff"),
    url("../fonts/aleo-regular-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}
body{
    font-family: 'Josefin Sans';
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: white;
	color: #FFF;
	line-height: 26px;
	max-width: 1770px;
}
.myHoverShadow() {
  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}
.wrap{
	max-width: 1110px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	height: 820px;
	background-image: url(../images/header-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	&-h1{
		padding-top: 250px;
		padding-bottom: 15px;
		font-size: 48px;
		font-weight: 700;
		text-transform: uppercase;
		width: 100%;

	}
	&-h3{
		font-size: 22px;
		letter-spacing: 4px;
		width: 100%;
		padding-bottom: 40px;
	}
	.header-input{
		height: 60px;
		width: 650px;
		border: none;
		color: #999;
		padding-left: 7px;
		padding-right: 7px;
		padding-bottom: 120px;
		display: block;
		margin: 0 auto;
		&_travel{
			float: left;
			height: 60px;
			width: 500px;
			font-size: 14px;
		}
	}

	.header-button{
		background-color: #5474fd;
		width: 144px;
		height: 16px;
		border: 2px solid #fff;
		border-left: none;
		padding: 22px 0;
		float: right;
		color: white;
		text-align: center;
		line-height: 16px;
		font-size: 14px;
		&:hover{
			background-color: #3254E5;
			-webkit-transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
			transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
			cursor: pointer;
		}
		&_search{
			vertical-align: middle;
			}
		&_span{
			display: block;
			height: inherit;
			float: left;
			padding-left: 30px;
			text-transform: uppercase;

		}
	}
	.header_scroll{
		font-size: 14px;
		clear: both;
	}
	.footer_nav{
		height: 70px;
		width: 100%;
		background: #5474fd;
		list-style: none;
		display: block;
		line-height: 70px;
		position: absolute;
		bottom: 0;
		.logo{
			float: left;
			height: 100%;
			width: 540px;
			&-p{
				text-transform: uppercase;
				text-align: left;
			}
		}
		.navs{
			display: block;
			width: 540px;
			float: right;
			height: 70px;

		}
		.footer_nav--items{
			font-family:'Aleo' sans-serif;
			display: inline-block;
			list-style: none;
			text-transform: uppercase;
			padding-left: 15px;
			a{
				text-decoration: none;
				color: #FFF;


			}
		}
	}
}

.section1{
	height: 685px;
	background-image: url(../images/section1-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
}
.section1_why{
	width: 50%;
	height: 100%;
	float: left;
	padding-top: 120px;
	text-align: left;

	&--h2{
	font-size: 36px;
	padding-bottom: 65px;
	font-family:'Aleo' sans-serif;
	}
}
.section1_why--text{
	padding-bottom: 50px;
	text-align: left;
	font-size: 16px;

}
.section1_places{
	width: 50%;
	float: right;
	padding-top: 120px;
}
.section1_places--img{
	padding-left: 125px;
}
.section1_button{
	padding: 18px 26px;
	color: #edf0ff;
	background-color: #5474fd;
	transition: background 0.1s;
	border: none;
	text-align: left;
	text-transform: uppercase;
	font-family:'Aleo' sans-serif;
	.myHoverShadow
}

.howitworks{
	height: 340px;
	width: 100%;
	background: #333333;
}

.spain{
	height: 1400px;
	width: auto;
	&_up{
		height: 50%;
		background: url(../images/section3-bg.jpg);
		position: relative;
	}
	&_down{
		height: 50%;
		background: url(../images/section4-bg.jpg);
		position: relative;
	}
	&_content{
		width: 540px;
		height: 370px;
		background: #393939;
		position: absolute;
		top: 230px;
		opacity: 0.8;
		padding-left: 30px;
		padding-right: 30px;

		&:hover{
			opacity: 0.6;
			-webkit-transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
			transition: all 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
		}
		p{
			padding-top: 25px;
			padding-bottom: 35px;
		}

		.grandspain_button{
			padding: 18px 26px;
			color: #edf0ff;
			background-color: #5474fd;
			transition: background 0.1s;
			border: none;
			text-align: left;
			text-transform: uppercase;
			font-family: 'Aleo' sans-serif;
			cursor: pointer;
			.myHoverShadow;
			}


	}
}
.spain_right{
	right: 0;
	margin-right: 106px;
}

.section4{
	background: url(../images/section5-bg.jpg);
	height: 730px;
		&_samsumon{
		width: 100%;
		height: 285px;
		background: #333333;
		}
		&_right{
			float: right;
			width: 60%;

		}
		&_left{
			float: left;
			width: 40%;
		}
		&_h2{
		font-family: 'Aleo';
		text-align: center;
		font-size: 36px;
		padding-top: 120px;
		padding-bottom: 100px;

	}

}
.section4_right--h2{
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 120px;
	padding-right: 50px;
}
.section4_right--p{
	font-weight: 12px;
	padding-left: 120px;
	padding-right: 50px;

}

.footer{
	text-align: center;
	height: 270px;
	background: #232323;
	.footerdiv{
		width: 170px;
		height: 100px;
		margin-left:auto;
		margin-right:auto;
		padding-top: 120px;
		text-align: justify;
	}
	.footerh2{
		padding-bottom: 16px;
		font-size: 24px;
		text-transform: uppercase;

	}
	.footerp{
		font-size: 16px;
	}
	.social-li{
		display: inline-block;
		margin-left: 16px;
	}
	.first-li{
		margin-left: 0px;
	}

	&_social{
		list-style: none;
		display: block;
		padding-top: 30px;
		padding-bottom: 50px;
	}


}
