*{
	margin: 0;
	padding: 0;
}
body{
	width: 1920px;
	height: 1892px;
	font-family: 'Droid Sans', sans-serif;
	background: url(img/back.png);
	 color: #6B6B6B;
}
.header{
	background-color:  #23232e;
	width: 100%;
	height: 44.9%;
}
.count{
	width: 30%;
	height: 38.1%;
	text-align: center;
	padding-top: 25px;
	padding-left: 688px;
}
.count-h1{
	color:  #ffffff;
	font-size: 80px;
	font-weight: 700;
	line-height: 30px;
	padding-top: 182px;
}
.count-p{
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	padding-top: 63px;
	padding-bottom: 188px;
}
.count-p+img{
	padding-bottom: 50px;
}
.vlad{
	padding-top: 123px;
	padding-left: 545px;
	width: 859px;
	height: 372px;
	}
.vlad-p-1{
	color:  #464b4f;
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
	padding-bottom: 55px;
	}
.vlad-p-2{
	color:  #464b4f;
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
}
.what{
	padding-bottom: 125px;
	padding-top: 125px
}
.what h2{
	color:  #464b4f;
	font-size: 80px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	padding-bottom: 100px;
}
.what{
	width: 985px;
	height: 152px;
	display: block;
	margin-left: 484px;
}
.what-div{
	width: 290px;
	height: 154px;
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	padding-left: 35px;
}

.what-div h3{
	color:  #464b4f;
	font-size: 18px;
	font-weight: 700;
	line-height: 42px;
	text-align: left;
}
