body{
	font-family: 'Droid Sans', sans-serif;
	}
div{
	border: 1px solid black;
	width: 80%;
	height: 80%;
	margin-top: 5%;
	margin-right: 5%;
	margin-left: 5%;
	padding: 5%;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
h1{
	font-family: serif;
}
p{
	font-size: 20px;
}
p:nth-child(5){
	font-size: 28px;
	font-style: italic;
	margin-left: 10px;
}

p:nth-child(5):before{
	content: '"';
}
.bigletter {
	font-family: serif;
	float: left;
	font-size: 75px;
	line-height: 60px; padding-top: 4px;
	padding-right: 8px; padding-left: 3px;
	}
button{
	color: orange;
	border-color: orange;
	width: 200px;
	height: 50px;
	font-size: 28px;
	background: white;
}
