.desk{
  width: 400px;
  height: 400px;
  background: #252137;
  background:
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	#253137;
  background-size: 100px 100px;
  position: relative;
}

.checkers-black-1{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 3px;
	left: 52px;
}

.checkers-black-2{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 3px;
	left: 152px;
}
.checkers-black-3{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 3px;
	left: 252px;
}
.checkers-black-4{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 3px;
	left: 352px;
}
.checkers-black-5{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 53px;
	left: 3px;
}
.checkers-black-6{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 53px;
	left: 103px;
}
.checkers-black-7{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 53px;
	left: 203px;
}
.checkers-black-8{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 53px;
	left: 303px;
}
.checkers-black-9{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 103px;
	left: 52px;
}
.checkers-black-10{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 103px;
	left: 152px;
}
.checkers-black-11{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 103px;
	left: 252px;
}
.checkers-black-12{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: black;
	position: absolute;
	top: 103px;
	left: 352px;
}

.checkers-red-1{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 253px;
	left: 3px;
}
.checkers-red-2{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 253px;
	left: 103px;
}
.checkers-red-3{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 253px;
	left: 203px;
}
.checkers-red-4{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 253px;
	left: 303px;
}
.checkers-red-5{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 303px;
	left: 53px;
}
.checkers-red-6{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 303px;
	left: 153px;
}
.checkers-red-7{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 303px;
	left: 253px;
}
.checkers-red-8{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 303px;
	left: 353px;
}
.checkers-red-9{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 353px;
	left: 3px;
}
.checkers-red-10{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 353px;
	left: 103px;
}
.checkers-red-11{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 353px;
	left: 203px;
}
.checkers-red-12{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	top: 353px;
	left: 303px;
}
