.bodydiv{
	background: red;
	width: 1200px;
	height: 600px;
	display: inline-block;
}
.header{
	margin-left: 5%;
	margin-top: 2%;
	background: orange;
	width: 90%;
	height: 10%;
}
.green{
	background: green;
	width: 65%;
	height: 65%;
	margin-left: 5%;
	margin-top: 2%;
	float: left;
}
.green div{
	width: 15%;
	height: 20%;
	float: left;
	margin-left: 5%;
	margin-bottom: 3%;
	margin-top: 5%;
	background: black;
	margin-right: 5%;
}
.green div:nth-child(2){
	height: 56%;
}
.green div:nth-child(7){
	margin-top: -13%;
}
.aside{
	background: none;
	width: 20%;
	height: 40%;
	margin-top: 2%;
	margin-right: 5%;
	float: right;
}
.aside div{
	background: blue;
	width: 100%;
	height: 30%;
	margin-bottom: 5%
}

footer{
	width: 90%;
	height: 8%;
	background: purple;
	margin-left: 5%;
	margin-top: 2%;
	float: left;
}
